<div class="container">
  <form #rentTapeForm="ngForm" submission=false>
    <div class="form-group">
      <label for="customerFN">Customer first name</label>
      <input type="text" class="form-control" id="customerFN" required [(ngModel)]="customerFN"  name="firstName" #firstName="ngModel">
    </div>
    <div class="form-group">
      <label for="customerLN">Customer last name</label>
      <input type="text" class="form-control" id="customerLN" required [(ngModel)]="customerLN"  name="lastName" #lastName="ngModel">
    </div>
    <div class="form-group">
     <input type="date" class="form-control" [(ngModel)]="rentDate" name="rentDate">
     </div>
    <button type="submit" class="back" (click)="rent(customerFN, customerLN, rentDate)" [disabled]="!rentTapeForm.form.valid">Submit</button>
  </form>
  </div>