<h2>List of rented tapes</h2>
<div>
<button class="back" (click)="getRentedSortedTapes()">Sort alphabetically</button>
<button class="back" (click)="getRentedTapesSortedByRating()">Sort by rating</button>
</div>
<br/>
<div class='table-responsive'>
  <table class='table' *ngIf='tapes && tapes.length'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Customer name</th>
        <th>5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tape of tapes">

        <td><a [routerLink]="['/detail',tape.id]">
          {{tape.title}}
</a>
        </td>
        <td *ngIf="tape.customer">{{ tape.customer.firstName}} {{tape.customer.lastName}}</td>
        <td *ngIf="tape.customer===undefined">undefined</td>
        <td>
          <star [rating]='tape.rating'>
          </star>
        </td>
      </tr>
    </tbody>
  </table>
</div>
    <button class="back" (click)="goBack()">Back</button>