<div class="container">
  <form #rentTapeForm="ngForm" submission=false>
    <div class="form-group">
      <label for="customerFN">Customer first name</label>
      <input type="text" class="form-control" id="customerFN" required [(ngModel)]="customerFN"  name="firstName" #firstName="ngModel">
    </div>
        <div [hidden]="firstName.valid" class="alert alert-danger">
      First name is required
    </div>
    <div class="form-group">
      <label for="customerLN">Customer last name</label>
      <input type="text" class="form-control" id="customerLN" required [(ngModel)]="customerLN"  name="lastName" #lastName="ngModel">
    </div>
            <div [hidden]="lastName.valid" class="alert alert-danger">
      Last name is required
    </div>
    <div class="form-group">
      <label for="rentDate">Rent date</label>
     <input type="date" class="form-control" id="rentDate" required [(ngModel)]="rentDate" name="rentDate">
     </div>
     <div class="form-group">
      <label for="returnDate">Return date</label>
     <input type="date" class="form-control" id="returnDate" required [(ngModel)]="returnDate" name="returnDate" >
     </div>

    <button type="submit" class="back" (click)="rent(customerFN, customerLN, rentDate, returnDate)" [disabled]="!rentTapeForm.form.valid">Submit</button>
  </form>
  </div>