<div class="listing">
  <h2>VHS Movies listing</h2>
</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">Add a tape</p>
        </div>
        <div class="modal-body">
          <tape-form></tape-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="back" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-2'>Filter:</div>
  <div class='col-md-4'>
    <input type='text' [(ngModel)]='listFilter' />
  </div>
</div>
<br/>
<div>
  <button class="back" (click)="getSortedTapes()">Sort alphabetically</button>
  <button class="back" (click)="getTapesSortedByRating()">Sort by rating</button>
  <button class="back" (click)="getTapesSortedByYear()">Sort by year</button>
  <button type="button" class="back" data-toggle="modal" data-target="#myModal">Add a tape</button>
</div>
<br/>

<div class='table-responsive'>
  <table class='table' *ngIf='tapes && tapes.length'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tape of tapes |tapeFilter: listFilter">

        <td><a [routerLink]="['/detail',tape.id]">
          {{tape.title}}
</a>
        </td>
        <td>{{ tape.year}}</td>
        <td>
          <star [rating]='tape.rating'>
          </star>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="back" (click)="goBack()">Back</button>
</div>