<div class="listing">
  <h2>VHS Movies listing</h2>
</div>
<div class="container">
 
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">Add a tape</p>
        </div>
        <div class="modal-body">
          <tape-form></tape-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="back" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<div class='row'>
  <div class='col-md-2'>Filter:</div>
  <div class='col-md-4'>
    <input type='text' [(ngModel)]='listFilter' />
  </div>
</div>
<br/>
<button class="back" (click)="getSortedTapes()">Sort alphabetically</button>
  <button type="button" class="back" data-toggle="modal" data-target="#myModal">Add a tape</button>
  <br/>
<div class="list-group">
  <a *ngFor="let tape of tapes |tapeFilter: listFilter" (click)="onSelect(tape);gotoDetail()" class="list-group-item">{{tape.title}}</a>
  <nav>
    <br/>
    <button class="back" (click)="goBack()">Back</button>
  </nav>
</div>