
h1 {
  color: darkslategray;
  font-family: 'Press Start 2P', cursive;
  font-size: 250%;
  text-align: center;
}
h2{
  color: darkslategray;
  font-family: 'Press Start 2P', cursive;
  font-size: 150%;
}
h3{
   color: darkslategray;
  font-family: 'Press Start 2P', cursive;
  font-size: 100%;
}
.main{
  margin-left: 40px;
  
}
body{
background-color: Turquoise;
}
.container-fluid{
  background-color: whitesmoke;
   font-family: 'Press Start 2P', cursive;  
}
.tapeDetails{
 font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
 font-size: 13pt;
 width:35em;
 background-color: paleturquoise;
}
.list-group {
    width: 30em;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
     font-size: 12pt;
    font-weight: bold;
    }
.list-group-item{
  background-color: whitesmoke;
  border-color: black;    
}
.back{
  font-family: 'Press Start 2P', cursive;  
}