
h1 {
  color: darkslategray;
  font-family: 'Press Start 2P', cursive;
  font-size: 250%;
  text-align: center;
}
h2{
  color: darkslategray;
  font-family: 'Press Start 2P', cursive;
  font-size: 150%;
}
h3{
   color: darkslategray;
  font-family: 'Press Start 2P', cursive;
  font-size: 100%;
}
.main{
  margin-left: 40px;
  
}

body{
background-color: Turquoise;
}
.container-fluid{
  background-color: whitesmoke;
   font-family: 'Press Start 2P', cursive;  
}
.tapeDetails{
 font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
 font-size: 13pt;
 width:35em;
 background-color: paleturquoise;
}
.list-group {
    width: 30em;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
     font-size: 12pt;
    font-weight: bold;
    }
.list-group-item{
  background-color: whitesmoke;
  border-color: darkslategray;    
}
.back{
  font-family: 'Press Start 2P', cursive;  
}
.row{
   font-family: 'Press Start 2P', cursive; 
}
table{
  border-color: black;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12pt;
    background-color: whitesmoke;
}
a{
  color:black;
  font-weight: bols;
  font-size: 12pt;
}
th{
  font-family: 'Press Start 2P', cursive;  
}
.table-responsive{
  width:80%;
}
p{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12pt;
}
.form-group{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12pt;
}
.form-control{
  width: 300px;
}
.modal-dialog{
  background-color: whitesmoke;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.alert{
  width: 300px;
}
